<div class="painel corpo_painel">
  <h1 class="display-5">Olá, equipe!</h1>
  <hr class="my-4">
  <div class="row">
    <div class="col-md-3">
      <img src="../../assets/images/foto_perfil_4.jpg" alt="..." class="img-thumbnail">
    </div>
    <div class="col-md-9">
      <p class="lead">
        Bom, como conversamos relativamente pouco então resolvi me apresentar
        um pouco melhor. <br/>
        Me chamo Urias, atualmente trabalho na Accenture como Software Developer
        e sou apaixonado pelo poder que a tecnologia tem de transformar nossa Sociedade.<br/>
        Aceitei o desafio, pois senti que a proposta apresentada por vocês me trará muito
        mais desafios e consequentemente muito crescimento. <br/>
      </p>
      <p class="lead">
        Gostaria de agradecer a oportunidade e espero que GOSTEM!!
      </p>
    </div>

    <div class="col-md-12 text-center">
      Desenvolvido com <i class="fas fa-heart icone_coracao"></i>
    </div>
  </div>
</div>
