<div class="container">
  <div class="form-inline">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro:</label>
      <input type="text"
      class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="filtroLista">
      <button class="btn btn-outline-success">buscar</button>
      Filto: {{filtroLista}}
    </div>
  </div>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Url</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Categoria</th>
        <th>Valor</th>
        <th>Marca</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf=" produtos && produtos.length">
      <tr *ngFor="let produto of produtos">
        <td>{{produto.id}}</td>
        <td>
          <img src="http://localhost:5000/img/{{produto.url}}.jpg" alt=""
          [style.width.px]="imagemLargura"
          [style.margin.px]="imagemMargem">
        </td>
        <td>{{produto.nome}}</td>
        <td>{{produto.descricao}}</td>
        <td>{{produto.categoria}}</td>
        <td>{{produto.valor | currency:"BRL"}}</td>
        <td>{{produto.marca}}</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-sm btn-success" tooltip="Editar"
            (click)="openModal(template)">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-sm btn-danger" tooltip="Deletar">
              <i class="fa fa-eraser"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!produtos.length">
      <tr>
        <td colspan="8" class="text-center">
          <h3>
            Nenhum Produto Encontrado!
          </h3>
        </td>
      </tr>
    </tfoot>
  </table>

</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right"
    aria-label="Close" (click)="modalRef.hide()">
    <span arial-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    Corpo da modal
  </div>
</ng-template>
