<nav class="navbar navbar-expand-md navbar-dark cor_padrao">
  <div class="container">
    <a class="navbar-brand" routerLink="dashboard">MundiPagg</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="home">
            <i class="fas fa-home icone_menu"></i>Início <span class="sr-only">(atual)</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link item_menu" routerLink="produtos">
            <i class="fas fa-store-alt icone_menu"></i>Produtos
          </a>
        </li>
      </ul>
    </div>

</div>

</nav>

